.text-xl-font-semibold {
  border-bottom: 1px solid #9d9d9d;
  width: 100%;
  align-items: center;
  display: flex;
  height: 10vh;
  justify-content: end;
}
.dark-mode .text-xl-font-semibold {
  border-bottom: 1px solid #444;
  width: 100%;
  align-items: center;
  display: flex;
  height: 10vh;
  justify-content: end;
}

.profile-header {
  display: flex;
  justify-content:  end;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
}

.sidebar {
  width: 200px;
  background: #f5f5f5;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
}

.menu {
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 0;
}

.menu li {
  display: flex;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 12px;
  width: 25%;
}

.menu li i {
  font-size: 14px;
  color: #555;
  padding: 5px;
  width: 25%;
}

.create-btn {
  margin-top: auto;
  padding: 10px;
  background: #b8d897;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background: #f0f0f0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data-blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  padding: 20px;
}

.profile-container {
  flex-grow: 1;
  overflow-y: auto;
  max-height: calc(100vh - 70px);
  padding: 20px;
  text-align: center;
}
.profile-container::-webkit-scrollbar {
  display: none;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.info-wrapper {
  width: 100%;
  padding-right: 10px;
}

.info-box {
  width: 500px;
  height: fit-content;
  max-width: 600px;
  background: white;
  padding: 20px;
  margin: 10px auto;
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dark-mode .info-box {
  width: 500px;
  height: fit-content;
  max-width: 600px;
  background: #4d4d4d;
  padding: 20px;
  margin: 10px auto;
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .info-box {
    width: 300px;
    height: fit-content;
  }
}

.container-profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f8fc;
}
.dark-mode .container-profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f8fc;
}

/* กล่องข้อความเมื่อผู้ใช้ไม่ได้ล็อกอิน */
.text-center {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
  max-width: 400px;
}

/* ข้อความหัวข้อ */
.text-center h2 {
  font-size: 1.6rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 20px;
}

/* ปุ่มไปที่หน้าเข้าสู่ระบบ */
.text-center button {
  background-color: #3498db;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s;
  width: 100%;
  margin-top: 15px;
}

.text-center button:hover {
  background-color: #2980b9;
}

.text-center button:active {
  transform: scale(0.98);
}

.genre-button {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #f0f0f0;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}

.genre-button:hover {
  background-color: #ddd;
}

.genre-button.selected {
  background-color: #6f2bee;
  color: white;
  border-color: #6f2bee;
  font-weight: 600;
  box-shadow: 0 0 5px rgba(111, 43, 238, 0.5);
}
.dark-mode .genre-button.selected {
  background-color: #2a2a2a;
  color: white;
  border-color: #444;
  font-weight: 600;
  box-shadow: 0 0 5px rgba(111, 43, 238, 0.5);
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.gap-2 {
  gap: 10px;
}

.filter-genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 1rem 0;
}

.edit-button {
  padding: 2px 20px;
  border: 1px solid #ccc;
  width: 100px;
  text-align: center;
  border-radius: 20px;
  background-color: #f0f0f0;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}

.edit-button:hover {
  background-color: #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  /* เพิ่มเงา */
  transition: box-shadow 0.2s ease;
}

.edit-button-cancel-button {
  margin-left: 10px;
  padding: 2px 20px;
  border: 1px solid #ccc;
  width: fit-content;
  text-align: center;
  border-radius: 20px;
  background-color: #f0f0f0;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}

.edit-button-cancel-button:hover {
  background-color: #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  /* เพิ่มเงา */
  transition: box-shadow 0.2s ease;
}

.edit-button.selected {
  background-color: #6f2bee;
  color: white;
  border-color: #6f2bee;
  font-weight: 600;
  box-shadow: 0 0 5px rgba(111, 43, 238, 0.5);
}
.dark-mode .edit-button.selected {
  background-color: #2a2a2a;
  color: white;
  border-color: #444;
  font-weight: 600;
  box-shadow: 0 0 5px rgba(111, 43, 238, 0.5);
}

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 10px;
  resize: vertical;
  box-shadow: none;
  outline: none;
  overflow: hidden;
  transition: none;
}

textarea:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

textarea::placeholder {
  color: #aaa;
  font-style: italic;
}

.save-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.save-button {
  padding: 2px 20px;
  border: 1px solid #ccc;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  background-color: #f0f0f0;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}

.save-button:hover {
  background-color: #ddd;
}

.cancel-button {
  margin-left: 10px;
  background-color: #ccc;
  color: #333;
}

.word-limit-info {
  font-size: 0.9rem;
  color: #666;
  margin-top: 4px;
  text-align: right;
}

.subgenre-container {
  /* margin-top: 10px; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filter-subgenres {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 6px;
  justify-content: center;
}

.subgenre-button {
  padding: 6px 12px;
  border: 1px solid #bbb;
  border-radius: 20px;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: background-color 0.2s;
}

.subgenre-button.selected {
  background-color: #6f2bee;
  color: white;
  border-color: #6c63ff;
}

.genreshow-button {
  padding: 6px 12px;
  margin-top: 6px;
  border: 1px solid #bbb;
  border-radius: 20px;
  background-color: #6f2bee;
  color: white;
  border-color: #6c63ff;
  margin-right: 5px;
}
.dark-mode .subgenre-button.selected {
  background-color: #2a2a2a;
  color: white;
  border-color: #444;
}

.dark-mode .genreshow-button {
  padding: 6px 12px;
  margin-top: 6px;
  border: 1px solid #444;
  border-radius: 20px;
  background-color: #2a2a2a;
  color: white;
  border-color: #444;
  margin-right: 5px;
}

.profile-container input {
  width: 100%;
  padding: 10px;
  font-size: 30px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  resize: vertical;
  box-shadow: none;
  outline: none;
  overflow: hidden;
  transition: none;
  background-color: transparent;
  /* ✅ แก้ตรงนี้ */
  text-align: center;
}

.input:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.edit-icon {
  margin-left: 5px;
}

.tab-button {
  flex: 1;
  padding: 12px;
  text-align: center;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out;
}

.tab-button.active {
  border-color: #3b82f6;
  font-weight: 600;
  color: #3b82f6;
}
.dark-mode .tab-button.active {
  border-color: #444;
  font-weight: 600;
  color: #3b82f6;
}

.tabs ul {
  list-style: none;
  padding: 0;
  margin: 1rem 1rem 1rem 0;
  display: inline-block;
  font-weight: bold;
}

.tabs ul li {
  font-size: 16px;
  color: #333;
}
.dark-mode .tabs ul li {
  font-size: 16px;
  color: #f5f5f5;
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .profile-header h1{
    display: none;
  }
  .profile-header {
   display: flex;
   justify-content: end;
  }
}
